// region Animations
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.spinning {
  animation: spin 2s linear infinite;
}
// endregion

// region Loader
.loader {
  @extend .spinning;
  color: $gray-400;

  &.fullscreen {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
// endregion

.Select.form-control {
  padding-bottom: 0 !important;

  .Select-control {
    background-color: transparent;
    border: none;
  }
} 

.Select--multi .Select-value {
  margin: 0 10px 5px 0 !important;
}